# ===== Python 관련 =====
__pycache__/

# ===== IDE 설정 파일 =====
.vscode/
log/
test/

# ===== 빌드 / 배포 =====
build/
dist/
KMagHunters.dist/
KMagHunters.build/
KMagHunters.onefile-build/
*.spec
*.xml

*.csv
*.xlxs
*.json